node_modules/
vendor/
.env
composer.lock
package-lock.json
assets/css/style.css
assets/css/style.css.map
assets/js/script.js
assets/sass/main.css
*.log
*.log.*
*.swp
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
/build/
/dist/
/out/
